body {
  font-family: Arial, sans-serif;
  text-align: center;
  background: #f4f4f4;
}

#search {
  width: 90%;
  padding: 10px;
  margin: 20px;
  font-size: 16px;
}

#product-list {
  display: flex;
  flex-wrap: wrap;
   display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 15px;
  padding: 20px;
}


.card {
  background: white;
  border-radius: 10px;
  box-shadow: 0 0 10px #ccc;
  margin: 10px;
  padding: 15px;
  width: 200px;
}

.card img {
  width: 100%;
  border-radius: 10px;
}

button {
  background: #007bff;
  color: white;
  padding: 8px 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background: #0056b3;
}

.order-card {
  background: white;
  margin: 40px auto;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  box-shadow: 0 0 10px #ccc;
}

input, textarea {
  width: 90%;
  padding: 8px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 6px;
}
